.section1{
    background: url(../Imgs/criancasConversando.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    border-radius: 0px 0px 20vh 0px;
    margin-top: 90px;
}
.section2, .section4{
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}
.section3{
    background: url(../Imgs/criancasComCelular.jpg);
    background-position:center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0px 15vh 0px 15vh;
}

.section-text h1{
    text-align: center;
    font-size: 36px;
    margin-bottom: 10px;
    width: 100%;
}
.section-text div{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 1060px;
}
.section-text p{
    max-width: 500px;
    margin: 15px;
}